@import "tailwindcss";

:root {
  --orange: #FF4D00;
  --dark: #181818;
  --font-title: var(--font-darker-grotesque);
  --font-body: var(--font-inter);
}

@theme inline {
  --color-orange: var(--orange);
  --color-dark: var(--dark);
  --font-title: var(--font-darker-grotesque);
  --font-body: var(--font-inter);
}

body {
  background: var(--dark);
  color: #ffffff;
  font-family: var(--font-body), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title), sans-serif;
}

/* Remove scroll durante o loader */
body.loading {
  overflow: hidden;
}
